<a href="/"> <h1>Insertar Jugadores</h1> </a>

<form method="POST">
    <label for="numero">N&uacute;mero</label>
    <input type="text" id="numero" name="numero" placeholder="Numero">
    <br>
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" placeholder="Nombre">
    <br>
    <label for="pais">Pa&iacute;s</label>
    <input type="text" id="pais" name="pais" placeholder="Pais">
    <br>
    <label for="posicion">Posici&oacute;n</label>
    <input type="text" id="posicion" name="posicion" placeholder="Posicion">
    <br>
    <label for="equipo">Equipo</label>
    <input type="text" id="equipo" name="equipo" placeholder="Equipo">
    <br>
    <button type="submit" class="btn btn-primary">Insertar</button>
</form>