$def with(datos)
<a href="/"> <h1>Update</h1> </a>


<form method="POST">
    <label for="numero">N&uacute;mero</label>
    <input type="text" value="$datos.numero" id="numero" name="numero">
    <br>
    <label for="nombre">Nombre</label>
    <input type="text" value="$datos.nombre" id="nombre" name="nombre">
    <br>
    <label for="pais">Pa&iacute;s</label>
    <input type="text" value="$datos.pais" id="pais" name="pais">
    <br>
    <label for="posicion">Posici&oacute;n</label>
    <input type="text" value="$datos.posicion" id="posicion" name="posicion">
    <br>
    <label for="equipo">Equipo</label>
    <input type="text" value="$datos.equipo" id="equipo" name="equipo">
    <br>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>